<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136092567462-huj2btotbuno6gq7bhknm72rrgrlnuoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136092567462-huj2btotbuno6gq7bhknm72rrgrlnuoj</string>
	<key>API_KEY</key>
	<string>AIzaSyANFcTto-H8d77HGnkh68PIgUOaD15Yc7M</string>
	<key>GCM_SENDER_ID</key>
	<string>136092567462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutoYtBis.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>confworld-ffa9f</string>
	<key>STORAGE_BUCKET</key>
	<string>confworld-ffa9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136092567462:ios:0a0e1298c14c507c42b167</string>
</dict>
</plist>